doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Typewriter Effect
        // 引入Typewriter.js库，确保它已经下载或者通过CDN链接引入
        script(src="https://unpkg.com/typewriter-effect@latest/dist/core.js")
    body
        #app Your Text Here
        script.
            document.addEventListener('DOMContentLoaded', function () {
                let app = document.getElementById('subtitle');

                let typewriter = new Typewriter(app, {
                    loop: true,
                    delay: 75,
                });

                typewriter
                    .pauseFor(2500)
                    .typeString('A simple yet powerful native javascript')
                    .pauseFor(300)
                    .deleteChars(10)
                    .typeString('<strong>JS</strong> plugin for a cool typewriter effect and ')
                    .typeString('<strong>only <span style="color: #27ae60;">5kb</span> Gzipped!</strong>')
                    .pauseFor(1000)
                    .start();
            });
