link(href='https://unpkg.com/@waline/client@v3/dist/waline.css' rel='stylesheet')
script(src='https://unpkg.com/@waline/client@v3/dist/waline.js')
#Comments
script.
 Waline.init({
  el: '#vcomments',
   serverURL: 'https://talk.hllqk.cn/'
   })
