head
  // ...
  link(rel="stylesheet", href="https://gcore.jsdelivr.net/gh/hllqkb/mirror@master/css/waline.css")
  // ...
body

  // ...
  #waline
  script(type="module").
    import { init } from 'https://unpkg.com/@waline/client@v3/dist/waline.js';

    init({
    el: '#waline',
    comment: true,
    serverURL: 'https://talk.hllqk.cn',
    emoji: [
    'https://unpkg.com/@waline/emojis@1.2.0/bilibili',
    '//unpkg.com/@waline/emojis@1.2.0/bmoji',
    ],
    });
